<app-header></app-header>

<app-particle></app-particle>
<div class="hero_section">
  <div>
    <h1 class="first_section_heading" data-aos="fade-up" data-aos-duration="1000">We are <span class="heading1"></span></h1>
  </div>
</div>

<body class="main_div body_div">
  <div class="alphaSection">
    <h3>ABOUT OUR COMPANY</h3>
    <p>RBH is a Singapore-based HR management startup connecting top professionals with excellent companies across the
      globe; who are looking to hire them for remote jobs with flexible hours for key positions.</p>
    <p>We aim to serve your company’s needs by using the effective hiring tactics our team has developed with their
      expertise in the field. We mix state-of-the-art technology with a passion for serving people looking for growth in
      business or careers.</p>
  </div>
  <div class="betaSection col-12">
    <h3 class="text-center">Why Choose Us</h3>
    <div class="row col-12 d-flex justify-content-center m-0">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">For Professionals</h5>
            <p class="card-text">Who are seeking a side hustle, RBH is a great platform to acquire jobs that are
              flexible to your working hours, offering work from home in key positions for top global startups.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">For Employers</h5>
            <p class="card-text">Looking for the right fit for their key business positions while saving their valuable
              time and resources, RBH has a team of industry experts with the best hiring strategies to meet your
              business goals..</p>
      
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-aos="zoom-in" class="imageGallery  my-4">
    <div class="col-12 row justify-content-center">
      <div class="row col-lg-6 col-md-12 justify-content-end gal ">
        <div class="col-lg-5 col-md-5 col-sm-12 bigImg"><img src='assets/images/about/left8-min.jpg'  style="object-fit: contain; "></div>
        <div class=" col-lg-5 col-md-5 col-sm-12 d-flex flex-column justify-content-between">
          <img src='assets/images/about/emp_4-min.jpg'  style="object-fit: contain; height: 48%;">
        <img src='assets/images/about/epm_6.jpg'  style="object-fit: contain; height: 48%;">
        </div>
      </div>
        <div class="row col-lg-6 col-md-12 gal">
          <div class=" col-lg-5 col-md-5 col-sm-12 d-flex flex-column justify-content-between ">
            <img src='assets/images/about/left6-min.jpg'  style="object-fit: contain; height: 48%;">
            <img src='assets/images/about/left7-min.jpg'  style="object-fit: contain; height: 48%;">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 bigImg"><img src='assets/images/about/left10-min.jpg'  style="object-fit: contain; "></div>
      </div>
        
    </div>
    
 
  </div>
 <app-featured-job-sec></app-featured-job-sec>

  <div data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine" class=" estimate row  flex-lg-row-reverse ">
    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
      <img src="assets/images/about/across.jpg" alt="" />
    </div>
    <div class="estimateinfo col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
      <h3 class="text-start">
        Helping Companies Build A Futuristic Workforce
      </h3>
      <p class="text-start">
        Calculate your shipping rates for packages under 150 lbs. or express
        freight over 150 lbs. based on how fast you need them to arrive and the
        destination.
      </p>


      <p class="text-start">
        If your package is over 150 lbs., you can use White Flag Freight for
        <a>LTL</a> (less-than-truckload) shipping instead.
      </p>

    </div>

  </div>
  <div class="estimate row  flex-lg-row">
    <div class="col-sm-12 col-md-12 col-lg-4 text-start">
      <img src="assets/images/about/staffingsol.jpg" alt="" />
    </div>
    <div  data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" class="estimateinfo col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
      <h3 class="text-start">
        Helping Companies Build A Futuristic Workforce
      </h3>
      <p class="text-start">
        Calculate your shipping rates for packages under 150 lbs. or express
        freight over 150 lbs. based on how fast you need them to arrive and the
        destination.
      </p>


      <p class="text-start">
        If your package is over 150 lbs., you can use White Flag Freight for
        <a>LTL</a> (less-than-truckload) shipping instead.
      </p>

    </div>

  </div>

  
  <app-quick-link></app-quick-link>
</body>


<app-footer></app-footer>