<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<section class="companies ">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-duration="500">
            <div class="col-md-8 mx-auto text-center">
                <h3 class="mb-5 mt-5">
                   Top Registered Companies
                </h3>
            </div>
        </div>
        <div class="row gy-5 gx-4 justify-content-center" data-aos="fade-up" data-aos-duration="500">
            <owl-carousel-o [options]="companyOptions">
                <ng-template carouselSlide>
                    <div class="text-center pt-4 wow">
                        <div class="position-relative company_card rounded pt-5 pb-4 px-4">

                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                                style="width: 100px; height: 100px;  ">
                               
                                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                                alt="" class="profile">
                                
                            </div>

                            <p class="mb-0">Keywords Studio
                            </p>
                            <p class="mb-0">More than 100 daily active users
                            </p>
                            <button class="btn" >Open jobs - 1</button>
                        </div>
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div class="text-center pt-4 wow">
                        <div class="position-relative company_card rounded pt-5 pb-4 px-4">

                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                                style="width: 100px; height: 100px; ">
                                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                                alt="" class="profile">
                            </div>

                            <p class="mb-0">Keywords Studio
                            </p>
                            <p class="mb-0">More than 100 daily active users
                            </p>
                            <button class="btn ">Open jobs - 1</button>
                        </div>
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div class="text-center pt-4 wow">
                        <div class="position-relative company_card rounded pt-5 pb-4 px-4">

                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                                style="width: 100px; height: 100px; ">
                                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                                alt="" class="profile">
                            </div>

                            <p class="mb-0">Keywords Studio
                            </p>
                            <p class="mb-0">More than 100 daily active users
                            </p>
                            <button class="btn ">Open jobs - 1</button>
                        </div>
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div class="text-center pt-4 wow">
                        <div class="position-relative company_card rounded pt-5 pb-4 px-4">

                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                                style="width: 100px; height: 100px; ">
                                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                                alt="" class="profile">
                            </div>

                            <p class="mb-0">Keywords Studio
                            </p>
                            <p class="mb-0">More than 100 daily active users
                            </p>
                            <button class="btn ">Open jobs - 1</button>
                        </div>
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div class="text-center pt-4 wow">
                        <div class="position-relative company_card rounded pt-5 pb-4 px-4">

                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                                style="width: 100px; height: 100px; ">
                                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                                alt="" class="profile">
                            </div>

                            <p class="mb-0">Keywords Studio
                            </p>
                            <p class="mb-0">More than 100 daily active users
                            </p>
                            <button class="btn ">Open jobs - 1</button>
                        </div>
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div class="text-center pt-4 wow">
                        <div class="position-relative company_card rounded pt-5 pb-4 px-4">

                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                                style="width: 100px; height: 100px; ">
                                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                                alt="" class="profile">
                            </div>

                            <p class="mb-0">Keywords Studio
                            </p>
                            <p class="mb-0">More than 100 daily active users
                            </p>
                            <button class="btn">Open jobs - 1</button>
                        </div>
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div class="text-center pt-4 wow">
                        <div class="position-relative company_card rounded pt-5 pb-4 px-4">

                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                                style="width: 100px; height: 100px; ">
                                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                                alt="" class="profile">
                            </div>

                            <p class="mb-0">Keywords Studio
                            </p>
                            <p class="mb-0">More than 100 daily active users
                            </p>
                            <button class="btn ">Open jobs - 1</button>
                        </div>
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div class="text-center pt-4 wow">
                        <div class="position-relative company_card rounded pt-5 pb-4 px-4">

                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                                style="width: 100px; height: 100px; ">
                                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                                alt="" class="profile">
                            </div>

                            <p class="mb-0">Keywords Studio
                            </p>
                            <p class="mb-0">More than 100 daily active users
                            </p>
                            <button class="btn">Open jobs - 1</button>
                        </div>
                    </div>

                </ng-template>




            </owl-carousel-o>

        </div>

    </div>
</section>