.main_div{
    background-color:#FECD45;
    padding-bottom: 3%;
}
.background_img{
    /* background-image: url(../..assets/images/office-skyscrapers-business-district.jpg); */
    height: 500px ;
    width: 100%;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
  

}

.contact_form{
    background-color: white;
    
}
.interest{
    background-color: #2568FB;
    color: white;
    border: 1px solid gray;
    padding: 3px;
    margin-right: 3px;
    margin-top: 10px;
    align-content: flex-end;
   
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
  }
  .upload .material-icons{
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 100;
    color: #FECD45;
    font-size: 30px;
  }
  @media (max-width:990px) {
    .upload .material-icons{
      /* color: black !important; */
      position: absolute;
      top: 37%;
      left:48%;
    }
  }
  .img_div{
    height: 75px;
    width: 100%;
    /* position: absolute;
    top: 7%;
    left: 25%; */
    z-index: 0;
    
  }
  .upload {
    color: #2568FB;
    padding: 5px 5px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    border: 1px dashed #2568FB;

    cursor: pointer;
    height: 82px;

}

.heading{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #2568FB;
}



  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 2px solid transparent ;
    border-radius: 0.6em;
    color: #fff;
    background-color: #2568FB;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 15px 29px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover {
    color:#2568FB;
    border: 2px solid #2568FB;
    outline: 0;
  }
  .first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px white inset;
  }
  .contact_cards{
    background-color: #2568FB ;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 11px;
    border-radius: 4px;
    cursor: pointer;
    min-height: 120px;
  }
  .contact_cards .material-icons{
    font-size: 35px;
    margin-top: 5px;
  }
  .card_2{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
  }
  .heading_1{
    font-size: 23px !important;
  
  }
  .card{
    box-shadow: 0px 0px 20px lightgray;
    padding-bottom: 10px;
  }
