input:focus {
    border-color: #fd8550 !important}
    
     label input:focus+p,
    select:focus+p,
    textarea:focus+p,
     label input:not(:placeholder-shown)+p,
    select:not(:placeholder-shown)+p,
    textarea:not(:placeholder-shown)+p {
      top: -1px;
      font-size: 0.9rem;
      color: #fd8550 ;
    }
    
    a{
      text-decoration: none;
      color: #fd8550;
    }
    
    a:hover{
      cursor: pointer;
    }
    
    form {
       background-color: transparent;
       border: none; 
       border-radius: none; 
       padding-top: none;
       padding-bottom: none; 
    }
    
    
    button:focus{
      box-shadow: none !important;
    }
    .last{
display: flex;
flex-direction: row;
justify-content: end;
    }
    .account{
align-self: flex-start;
    }
    .button{
      display: flex;
      align-items: center;
      justify-content: end;
        background-color: transparent;
        padding-right: 0;
        margin-right: 0;
        
align-self: flex-end;
    }
    .container{
      position: relative;
      z-index: 3;
      background-color: white;
    }
    body{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    }
    .container{
      max-width: 370px;
      width: 100%;
      background-color: #fff;
      padding: 25px 30px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.15);
      position: relative;
      z-index: 3;
      background-color: aliceblue;
      border: 1px solid rgb(204, 197, 197);
    }
    @media(max-width: 584px){
      .container{
       max-width: 100%;
     }
    }
    label p{
      background-color: aliceblue;
    }
    .suggested_pass{
      display: flex;
      justify-content: space-between;
      padding: 10px 9px;
      align-items: center;
      /* border: 2px solid green; */
      background-color: rgb(187, 242, 187);
      color:green;
      border-radius: 4px;
      cursor: pointer;
      font-size: 17px;
  
  
    }
    .check_box{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
      color: black;
      font-weight: 600;
    }