<!-- <app-particles></app-particles> -->
<body>
    <div class="container">
      <form [formGroup]="fg_pw_form">
        <div class="">
          <div class="d-flex justify-content-center "><a routerLink="/">
              <img src="/assets/img/navbar_logo.jpg" width="80px" height="auto" alt=""></a></div>
          <div class="d-flex justify-content-center mt-4" style="font-weight: 400; font-size:28px">
            Reset Password</div>
          <div class=" mt-5">
            <div class="field col-xl-12 col-lg-6 col-md-12 col-sm-12 ">
              <label>
                <input type="password"  formControlName="password" placeholder=" " />
                <p [ngClass]="{'error':password?.invalid, 'fine' : password?.valid}">Password</p>
                <!-- <span class="error" *ngIf="password?.invalid && password?.touched">This is required
                  field</span> -->
              </label>
              
            </div>
            <div class="field col-xl-12 col-lg-6 col-md-12 col-sm-12 ">
              <label>
                <input type="password"  formControlName="confirmpassword" placeholder=" " />
                <p [ngClass]="{'error':password?.invalid, 'fine' : password?.valid}">Confirm Password</p>
                <!-- <span class="error" *ngIf="password?.invalid && password?.touched">This is required
                  field</span> -->
              </label>
              <span class="error" *ngIf="pass_not_match">Password not match</span>
            </div>
            <span *ngIf="label_pass" class="" style="font-size:1rem;color:#282871; letter-spacing: 0.5px; ">Use Recommended Password</span>
          <div *ngIf="Pass_div" class="mb-1 d-flex">
            <div  class="col-12 r suggested_pass"><span>{{genPass}}</span>
              <div class="col-4 check_box">
                <i (click)="use_pass()" class="fa fa-check text-success fs-5"></i>
                <i (click)="close()" class="fs-5 fa fa-close text-danger"></i>
              </div>
            </div>
            </div>
          </div>
          <div class="last">
            <div class="button">
              <button type="submit" class="btn btn-primary w-20 ms-5"
                style="background-color: #282871; border-color:#282871;" (click)="validate_pass()">
                Reset</button>
            </div>
          </div>
        </div>
        
        
      </form>
    </div>
    </body>
    