/* You can add global styles to this file, and also import other style files */
@import'../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import'../node_modules/font-awesome/css/font-awesome.min.css';


.r{
  background-color: red;
}
.g{
  background-color: green;
}
.y{
  background-color: yellow;
}
.b{
  background-color: blue;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', serif;
    -webkit-tap-highlight-color: transparent;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  /* label moving to top transition */
.field {
    margin-bottom: 15px;
}
.field label {
  position: relative;
}
.field label input,select, textarea {
  font-size: 1rem;
  color: #565656;
  background: transparent;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid #565656;
  transition: border-color 0.2s;
}
.card{
  /* border: 1px solid #; */
  border: 1px solid #c8c8c8
}
.field label select {
  font-size: 1rem;
  color: #565656;
  background: transparent;
  padding: 1rem 1.2rem;
  min-width: 100%;
  border-radius: 0.2rem;
  border: 1px solid #565656;
  transition: border-color 0.2s;
  height: 58px;
}
.field label input:focus, select:focus, textarea:focus {
  border-color: #282871;
}
.field label p {
  color: #282871;
  font-size: 1rem;
  user-select: none;
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  margin-left: 0.8rem;
  padding: 0 0.4rem;
  background: white;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  pointer-events: none;
}
.field label input:focus + p, select:focus + p,textarea:focus + p,
.field label input:not(:placeholder-shown) + p, select:not(:placeholder-shown) + p, textarea:not(:placeholder-shown) + p {
  top: -1px;
  font-size: 0.9rem;
  color: #282871;
}
.field label input:not(:focus) + p, textarea:not(:focus) + p, select:not(:focus) + p {
  color: #565656;
}
.field label{
  min-width: 100%
}

  
.back_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
}
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .card-header {
    background-color: white;
    padding: 10px;
    color: #1d1d1d;
    font-family: IncfileBold;
    font-size: 19px !important;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
  
  .card-header .material-icons {
    margin-right: 10px;
    color: #2568FB;
  }
  .card-header1 {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .card-header1 {
    background-color: white;
    padding: 15px 0px;
    color: #1d1d1d;
    font-family: IncfileBold;
    font-size: 24px !important;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
  
  .card-header1 .material-icons {
    margin-right: 10px;
    color: #2568FB;
  }
  


  /* validation css */
  input.ng-touched.ng-invalid, select.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
    border: 1.5px solid red;
  }

   input.ng-touched.ng-valid, select.ng-touched.ng-valid, textarea.ng-touched.ng-valid {
    border: 1.5px solid green;
  }
  .error{
    color:red !important;
    font-size: 12px;
  }
  .fine{
    color:#282871 !important;
    font-size: 12px;
  }
  
   .testimonialll .owl-next, .testimonialll .owl-prev{
    background-color: rgba(158,158,158 / 28% ) !important;
    color: #222 !important;
    height: 60px !important;
    width: 60px !important;
    border-radius: 50% !important;
    position: absolute;
    top: 44%;
    transition: 0.3s all ease;
  }
  .testimonialll .owl-next{
      right: -68px;
      transform: translate(-50%, -50%);
  }
  .testimonialll .owl-prev{
  left: -8px;
  transform: translate(-50%, -50%);
  }
  .testimonialll .owl-next i, .testimonialll .owl-prev i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  font-size: 24px;
  }
  .testimonialll .owl-next:hover, .testimonialll .owl-prev:hover{
  background-color: #111;
  color: white;
  }
  .testimonialll .owl-carousel .owl-stage-outer{
    position: relative !important;
    overflow: hidden!important;
    -webkit-transform: translate3d(0,0,0) !important;
    height: 350px !important;
    padding-top: 10px !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin-right: 10px !important;
  }
  .testimonialll .owl-carousel.owl-drag .owl-item{
    display: flex !important;
    justify-content: center !important;
    touch-action: pan-y !important;
    -webkit-user-select: none !important;
    user-select: none !important;
  }
  .companies .owl-carousel .owl-stage-outer{
    position: relative !important;
    overflow: hidden!important;
    -webkit-transform: translate3d(0,0,0) !important;
    /* height: 400px !important; */
    padding-top: 20px !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin-right: 10px !important;
  }
  .companies .owl-carousel.owl-drag .owl-item{
    display: flex !important;
    justify-content: center !important;
    touch-action: pan-y !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    padding-top: 7px;
  }
  .companies .owl-carousel .owl-item img{
    display: block !important;
    width: 100% !important;
    height: 100% !important;
  
    border-radius: 50% !important;
    object-fit: cover !important;
    
  }
  .companies .owl-next, .companies .owl-prev{
    background-color: rgba(158,158,158 / 28% ) !important;
    color: #222 !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 20% !important;
    position: absolute;
    top: 50%;
    transition: 0.3s all ease;
  }
  .companies .owl-next{
      right: -37px;
      transform: translate(-50%, -50%);
  }
  .companies .owl-prev{
  left: -8px;
  transform: translate(-50%, -50%);
  }
  .companies .owl-next i, .companies .owl-prev i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  font-size: 24px;
  }
  .companies .owl-next:hover, .testimonialll .owl-prev:hover{
  background-color: #111;
  color: white;
  }

  .hide{
    display: none;
  }

  h3{
    font-family: 'Playfair Display' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 38px !important;
    line-height: 64px !important;
    text-align: center !important;
    color: #2568FB !important;
    text-transform: capitalize;
}



.heading{
  color: white ;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  font-style: 'Simplifa';
  letter-spacing: 2px;
}
.error_1 {
  color: #ff0000;
  padding: 5px 5px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  border: 1px dashed #ff0000;
  cursor: pointer;
  height: 82px;

}


.error_1 .material-icons{
  position: absolute;
  top: 30%;
  left: 42%;
  z-index: 100;
  color: #ff0000;
  font-size: 30px;
}
.body_div{
  position: relative ;
  z-index: 1 ;
  background-color: white ;
}
.first_section_heading{
  color: white;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}
.hero_section{
  height: 500px ;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-color: black;

}
@media (max-width:500px) {
  .first_section_heading{
    font-size: 20px;
  }
  .hero_section{
 height: 150px;
  }
}